<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | Colégio Aprendizagem</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div>
        <span>secretaria@colegioaprendizagem.com.br</span>
        <span>(71) 99999-9999</span>
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/login-funcionario">Portal do Funcionário</a>
        <a href="/login">Portal do aluno</a>
    </nav>

</div>

<header>
    <div class="header-left">
        <img src="/images/school_icon.png" alt="Ícone da escola" class="logo">
        <a href="/">Colégio Aprendizagem</a>
    </div>

    <nav>
        <a href="/sobre">Sobre o colégio</a>
        <a href="/segmentos">Segmentos</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<main class="caixa">
    <div class="sobre">
        <h1>Entre em contato</h1>
        <p>(71) 99999-9999</p>
        <p>secretaria@colegioaprendizagem.com.br</p>
    </div>
    <div class="sobre-bg"></div>
</main>

<footer>
    <span>Colégio Aprendizagem © 2026</span>
</footer>

</body>
</html>