<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colégio Aprendizagem</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div>
        <span>Emaildecontato@gmail.com</span>
        <span>7199123-2131</span>
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/login-professor">Portal do docente</a>
        <a href="/login">Portal do aluno</a>
        <a href="">Suporte</a>
    </nav>

</div>

<header>
    <div class="header-left">
        <img src="/images/school_icon.png" alt="Ícone da escola" class="logo">
        <a href="/">Colégio Aprendizagem</a>
    </div>

    <nav>
        <a href="/sobre">Sobre o colégio</a>
        <a href="">Segmentos</a>
        <a href="">Agende uma visita</a>
    </nav>
</header>

<main class="carrossel">

    <div id="slides">
        <img class="slide" src="/images/img1.jpg">
        <img class="slide" src="/images/img2.jpg">
        <img class="slide" src="/images/img3.jpg">
    </div>

    <button id="prev"><</button>
    <button id="next">></button>
</main>

<section class="extra">

</section>

<div class="chat-button" id="chat-button">💬</div>

<div class="chat-box" id="chat-box">
    <div class="chat-header">Assistente Virtual</div>

    <div class="chat-messages">
        <div class="bot-message">
            Olá! Como posso ajudar?
        </div>
    </div>

    <div class="chat-input-box">
        <input id="chat-input" type="text" placeholder="Digite sua mensagem">
        <button id="send-button">Enviar</button>
    </div>
</div>

<footer>
    <span>Colégio Aprendizagem © 2026</span>
</footer>

<script src="/js/script.js"></script>
</body>
</html>