<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Professor | Colégio Aprendizagem</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<main class="login">
    <section class="left">
        <img src="/images/school_students.png" alt="Foto de estudantes">
    </section>

    <section class="right">
        <form th:action="@{/login}" method="post" class="login-box">
            <h2>Colégio Aprendizagem</h2>
            <h1>Bem-Vindo!</h1>

            <label>Email</label>
            <input type="email" name="username" required> <label>Senha</label>
            <input type="password" name="password" required> <a href="">Esqueceu a senha?</a>
            <button type="submit">Login</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>