<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segmentos | Colégio Aprendizagem</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div>
        <span>Emaildecontato@gmail.com</span>
        <span>7199123-2131</span>
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/login-funcionario">Portal do Funcionário</a>
        <a href="/login">Portal do aluno</a>
    </nav>

</div>

<header>
    <div class="header-left">
        <img src="/images/school_icon.png" alt="Ícone da escola" class="logo">
        <a href="/">Colégio Aprendizagem</a>
    </div>

    <nav>
        <a href="/sobre">Sobre o colégio</a>
        <a href="/segmentos">Segmentos</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<main class="segmentos">

    <div class="segmento-card">
        <h2>Ensino Fundamental I</h2>
        <p><br>Construção das bases da aprendizagem e do pensamento crítico.</p>
    </div>
    <div class="segmento-card">
        <h2>Ensino Fundamental II</h2>
        <p><br>Ampliação dos conhecimentos e preparação para novos desafios.</p>
    </div>
    <div class="segmento-card">
        <h2>Ensino Médio</h2>
        <p><br>Foco em vestibulares, ENEM e formação acadêmica.</p>
    </div>

</main>

<section class="extra">

</section>

<footer>
    <span>Colégio Aprendizagem © 2026</span>
</footer>

</body>
</html>