<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre | Colégio Aprendizagem</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div>
        <span>Emaildecontato@gmail.com</span>
        <span>7199123-2131</span>
    </div>

    <nav>
        <a href="/">Início</a>
        <a href="/login">Portal do docente</a>
        <a href="/login">Portal do aluno</a>
        <a href="">Suporte</a>
    </nav>

</div>

<header>
    <div class="header-left">
        <img src="/images/school_icon.png" alt="Ícone da escola" class="logo">
        <a href="/">Colégio Aprendizagem</a>
    </div>

    <nav>
        <a href="/sobre">Sobre o colégio</a>
        <a href="">Segmentos</a>
        <a href="">Agende uma visita</a>
    </nav>
</header>

<main class="caixa">
    <div class="sobre">
        <h1>Sobre o colégio</h1>
        <p>O Colégio Aprendizagem busca promover uma educação de excelência sendo ativo na aprendizagem dos alunos, e sempre analisando seus sucessos e suas dificuldades.</p>
    </div>
    <div class="sobre-bg"></div>
</main>

<footer>
    <span>Colégio Aprendizagem © 2026</span>
</footer>

</body>
</html>