<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações | Portal do Aluno</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="sb-expanded">

<header th:replace="~{fragments/header :: aluno-header}"></header>

<aside>
    <nav>
        <ul>
            <li>
                <button data-resize-btn>
                    <i class="bx bx-menu"></i>
                </button>
            </li>
            <li>
                <a href="/aluno/avisos">
                    <i class="bx bxs-megaphone"></i>
                    <span>Avisos</span>
                </a>
            </li>
            <li>
                <a href="/aluno/calendario">
                    <i class="bx bx-calendar-event"></i>
                    <span>Calendário</span>
                </a>
            </li>
            <li>
                <a href="/aluno/avaliacoes" class="active">
                    <i class="bx bx-line-chart"></i>
                    <span>Avaliações</span>
                </a>
            </li>
            <li>
                <a href="/aluno/disciplinas">
                    <i class="bx bx-book"></i>
                    <span>Disciplinas</span>
                </a>
            </li>
            <li>
                <a href="/aluno/sistema-faltas">
                    <i class='bx bx-bar-chart-square'></i>
                    <span>Sistema de Faltas</span>
                </a>
            </li>
            <li class="logout">
                <a href="/">
                    <i class="bx bx-log-out"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<main>
    <h3>Avaliações</h3>
    <hr>

    <div class="avaliacoes">

        <div class="card-avaliacao">
            <div class="info">
                <h2>Matemática</h2>

                <div class="dados">
                    <span><i class="bx bxs-time"></i>40 min</span>
                    <span><i class="bx bx-book-content"></i>10 questões</span>
                    <span><i class="bx bx-calendar"></i>15/06/2026</span>
                    <span><i class="bx bxs-calendar"></i>Professor(a) João</span>
                </div>

                <div class="botoes">
                    <button class="btn-continuar">
                        Continuar
                    </button>

                    <button class="btn-detalhes">
                        Detalhes
                    </button>
                </div>
            </div>

            <div class="progresso">
                <div class="circulo">
                    <span>64%</span>
                </div>
            </div>

        </div>

        <div class="card-avaliacao">
            <div class="info">
                <h2>Português</h2>

                <div class="dados">
                    <span><i class="bx bxs-time"></i>30 min</span>
                    <span><i class="bx bx-book-content"></i>8 questões</span>
                    <span><i class="bx bx-calendar"></i>18/06/2026</span>
                    <span><i class="bx bxs-calendar"></i>Professor(a) Paula</span>
                </div>

                <div class="botoes">
                    <button class="btn-continuar">
                        Continuar
                    </button>

                    <button class="btn-detalhes">
                        Detalhes
                    </button>
                </div>
            </div>

            <div class="progresso">
                <div class="circulo">
                    <span>80%</span>
                </div>
            </div>

        </div>

    </div>
</main>

<script src="/js/sidebar.js"></script>
</body>
</html>