<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avisos | Portal do Aluno</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="sb-expanded">

<header class="portal-header">

    <div class="usuario">
        <img src="/images/user_logo.png">
        
        <div>
            <p>ELON MUSK DA SILVA</p>
            <p>3° ANO B</p> <!-- Em vez de ano pode colocar matrícula se achar melhor -->
        </div>
    </div>

</header>

<aside>
    <nav>
        <ul>
            <li>
                <button data-resize-btn>
                    <i class="bx bx-menu"></i>
                </button>
            </li>
            <li>
                <a href="/aluno/avisos" class="active">
                    <i class="bx bxs-megaphone"></i>
                    <span>Avisos</span>
                </a>
            </li>
            <li>
                <a href="/aluno/calendario">
                    <i class="bx bx-calendar-event"></i>
                    <span>Calendário</span>
                </a>
            </li>
            <li>
                <a href="/aluno/avaliacoes">
                    <i class="bx bx-line-chart"></i>
                    <span>Avaliações</span>
                </a>
            </li>
            <li>
                <a href="/aluno/disciplinas">
                    <i class="bx bx-book"></i>
                    <span>Disciplinas</span>
                </a>
            </li>
            <li class="logout">
                <a href="/">
                    <i class="bx bx-log-out"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<main>
    <h3>Avisos</h3>
    <hr>

    <div class="avisos">
        <div class="estado-vazio"> <!-- Usado quando não tem avisos no momento. Se houver avisos, oculte -->
            <p >Nenhum aviso disponível no momento.</p>
        </div>

        <div class="aviso">
            <div class="aviso-header">
                <div>
                    <h2>RODRIGO MATTOS</h2>
                    <span>Professor</span>
                </div>

                <span>12/06/2026</span>
            </div>

            <h3>Dia da prova alterado</h3>

            <div class="aviso-conteudo">
                <p>
                    Devido a circunstâncias pessoais, a prova marcada para o dia 13/06 será alterada para o dia 20/06.
                </p>
            </div>
        </div>

    </div>

</main>

<script src="/js/sidebar.js"></script>
</body>
</html>