<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário | Portal do Aluno</title>
    <link rel="icon" type="image/x-icon" href="/images/school_logo.png">
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="sb-expanded">

<header class="portal-header">

    <div class="usuario">
        <img src="/images/user_logo.png">

        <div>
            <p>ELON MUSK DA SILVA</p>
            <p>3° ANO B</p> <!-- Em vez de ano pode colocar matrícula se achar melhor -->
        </div>
    </div>

</header>

<aside>
    <nav>
        <ul>
            <li>
                <button data-resize-btn>
                    <i class="bx bx-menu"></i>
                </button>
            </li>
            <li>
                <a href="/aluno/avisos">
                    <i class="bx bxs-megaphone"></i>
                    <span>Avisos</span>
                </a>
            </li>
            <li>
                <a href="/aluno/calendario" class="active">
                    <i class="bx bx-calendar-event"></i>
                    <span>Calendário</span>
                </a>
            </li>
            <li>
                <a href="/aluno/avaliacoes">
                    <i class="bx bx-line-chart"></i>
                    <span>Avaliações</span>
                </a>
            </li>
            <li>
                <a href="/aluno/disciplinas">
                    <i class="bx bx-book"></i>
                    <span>Disciplinas</span>
                </a>
            </li>
            <li>
                <a href="/aluno/sistema-faltas">
                    <i class='bx bx-bar-chart-square'></i>
                    <span>Sistema de Faltas</span>
                </a>
            </li>
            <li class="logout">
                <a href="/">
                    <i class="bx bx-log-out"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<main>
    <h3>Calendário</h3>
    <hr>

    <div class="calendario">

        <div class="calendario-dia">
            <p>Segunda-Feira</p>

            <div class="calendario-disciplina">
                <div>
                    <p>Matemática</p>
                    <span>Prof. RODRIGO MATTOS</span>
                </div>

                <div class="calendario-horario">
                    <span>07:30 - 08-20</span>
                </div>
            </div>

            <div class="calendario-disciplina">
                <div>
                    <p>Dança</p>
                    <span>Prof. DAVI BRITO</span>
                </div>

                <div class="calendario-horario">
                    <span>08-20 - 09-10</span>
                </div>
            </div>
        </div>

        <div class="calendario-dia">
            <p>Terça-Feira</p>

            <div class="calendario-disciplina">
                <div>
                    <p>Matemática</p>
                    <span>Prof. RODRIGO MATTOS</span>
                </div>

                <div class="calendario-horario">
                    <span>07:30 - 08-20</span>
                </div>
            </div>

            <div class="calendario-disciplina">
                <div>
                    <p>Dança</p>
                    <span>Prof. DAVI BRITO</span>
                </div>

                <div class="calendario-horario">
                    <span>08-20 - 09-10</span>
                </div>
            </div>
        </div>

        <div class="calendario-dia">
            <p>Quarta-Feira</p>

            <div class="calendario-disciplina">
                <div>
                    <p>Matemática</p>
                    <span>Prof. RODRIGO MATTOS</span>
                </div>

                <div class="calendario-horario">
                    <span>07:30 - 08-20</span>
                </div>
            </div>

            <div class="calendario-disciplina">
                <div>
                    <p>Dança</p>
                    <span>Prof. DAVI BRITO</span>
                </div>

                <div class="calendario-horario">
                    <span>08-20 - 09-10</span>
                </div>
            </div>
        </div>

        <div class="calendario-dia">
            <p>Quinta-Feira</p>

            <div class="calendario-disciplina">
                <div>
                    <p>Matemática</p>
                    <span>Prof. RODRIGO MATTOS</span>
                </div>

                <div class="calendario-horario">
                    <span>07:30 - 08-20</span>
                </div>
            </div>

            <div class="calendario-disciplina">
                <div>
                    <p>Dança</p>
                    <span>Prof. DAVI BRITO</span>
                </div>

                <div class="calendario-horario">
                    <span>08-20 - 09-10</span>
                </div>
            </div>
        </div>

        <div class="calendario-dia">
            <p>Sexta-Feira</p>

            <div class="calendario-disciplina">
                <div>
                    <p>Matemática</p>
                    <span>Prof. RODRIGO MATTOS</span>
                </div>

                <div class="calendario-horario">
                    <span>07:30 - 08-20</span>
                </div>
            </div>

            <div class="calendario-disciplina">
                <div>
                    <p>Dança</p>
                    <span>Prof. DAVI BRITO</span>
                </div>

                <div class="calendario-horario">
                    <span>08-20 - 09-10</span>
                </div>
            </div>
        </div>

    </div>
</main>

<script src="/js/sidebar.js"></script>
</body>
</html>