<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário | Portal do Aluno</title>
    <link rel="stylesheet" href="/css/portal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="sb-expanded">

<aside>
    <nav>
        <ul>
            <li>
                <button data-resize-btn>
                    <i class="bx bx-menu"></i>
                </button>
            </li>
            <li>
                <a href="/aluno/avisos">
                    <i class="bx bxs-megaphone"></i>
                    <span>Avisos</span>
                </a>
            </li>
            <li>
                <a href="/aluno/calendario" class="active">
                    <i class="bx bx-calendar-event"></i>
                    <span>Calendário</span>
                </a>
            </li>
            <li>
                <a href="/aluno/avaliacoes">
                    <i class="bx bx-line-chart"></i>
                    <span>Avaliações</span>
                </a>
            </li>
            <li>
                <a href="/aluno/financeiro">
                    <i class="bx bx-money"></i>
                    <span>Financeiro</span>
                </a>
            </li>
            <li>
                <a href="/aluno/notificacoes">
                    <i class="bx bx-bell"></i>
                    <span>Notificações</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<main>
    <h3>Calendário</h3>
    <hr>
</main>

<script src="/js/sidebar.js"></script>
</body>
</html>